:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --hospital-green: #acd9b2;
    --fondo-amarillo: rgba(235, 240, 176, 0.4);
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    height:50px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

.product-detail{
    margin: 0 24px;
    width: 360px;
    margin: 0;
    position: absolute;
    right: 0;
    padding: 24px;
    box-sizing: border-box;
  
}

.my-order-content{
    display: flex;
    flex-direction: column;
}

.my-order-container{
    display: grid;
    grid-template-rows:auto 1fr auto;
    width: 300px;
}

.my-order-content{
    display: flex;
    flex-direction: column;
}

.shopping-cart figure {
    margin: 0%;
}

.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 28px;
    object-fit: cover;
    
}
.shopping-cart p:nth-child(2){
color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3){
font-size: var(--md);
font-weight: bold;
}


.shopping-cart {
    display: grid;
    grid-template-columns:auto 1fr auto auto ;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart div img:hover {
   cursor: pointer; 
   height: 20px;   
}





.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: rgba(134, 132, 132 ,0.2);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1){
display: flex;
flex-direction: column;
}

.order p span:nth-child(1){
font-size: var(--md);
font-weight: bold;

}

.order p span:nth-child(2){
font-size: var(--sm);
color: var(--very-light-pink);

}

.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
    }

.title{
    font-size: var(--lg);
    font-weight: bold
}
    
.title-container{
    display: flex;

}

.title-container img{
    transform: rotate(180deg);
    margin-right: 14px;
    
}
@media (max-width:640px) {
    .product-detail{
        width: 100%;
    }
    
} 