:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --hospital-green: #acd9b2;
    --fondo-amarillo: rgba(235, 240, 176, 0.4);
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.menu{
    display: none;
    cursor: pointer;
}


nav{
    display: flex;
    right: 100%;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink); 

}

.logo{
    width: 150px;
}

.navbar-left ul,
.navbar-right ul{
list-style: none;
padding: 0;
margin: 0;
display: flex;
align-items: center;
height: 60px;

}

.navbar-left ul{
margin-left: 12px;

}

.navbar-left,
.navbar-right{
    display: flex;
}

.navbar-left ul li a,
.navbar-right ul li a{
text-decoration: none;
color: var(--very-light-pink);
border: 1px solid var(--white);
padding: 8px;
border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
border: 1px solid var(--hospital-green);
color: var(--hospital-green);
}

.navbar-email{
    cursor: pointer;
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
}
.navbar-shopping-cart{
    position: relative;
}

.navbar-shopping-cart div{
width: 16px;
height: 16px;
background-color:var(--hospital-green);
border-radius: 50%;
font-size: var(--sm);
font-weight: bold;
position: absolute;
top: -6px;
right: -3px;
display: flex;
align-items: center;
justify-content: center;

}

@media (max-width: 750px) {
    .desktop-menu{
        display: none;
    }
    .menu{
        display: block;
    }

    .navbar-left ul{
        display: none;
    }
    
    .navbar-email{
        display: none;
    }
}

@media (min-width: 751px) {
    .menu-container{
        display: none;
    }
}



/*fin de navar destop*/


.desktop-menu{
    
    position: absolute;
    background: var(--white);
    right: 60px;
    top: 60px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    
}

.inactive{
display: none;
}

.desktop-menu ul{
list-style: none;
padding: 0;
margin: 0;
}

.desktop-menu ul li{
    text-align: end;

}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}

.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    
}


.desktop-menu ul li:last-child a{
   color: var(--hospital-green);
   font-size: var(--sm);
}

.desktop-menu ul li a{
    color: var(--black);
    font-size: var(--sm);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
    
/*fin de navar menu movil*/



.menu-container{
    background-color: var(--white);
    top: 60px;
    left: 0px;
    position: absolute;
    width: 200px;
    height: 100vh;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; ;
    padding-top: 5%;
    padding-bottom: 5%;

}

.first-menu{
 margin-bottom: 20px;   
}
.first-menu ul,
.second-menu ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.first-menu ul li,
.second-menu ul li{
    margin-left: 10px;
    height: 50px;
    width: 80px;
   
}
.titleg{
    cursor: pointer;
    color: var(--black);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: var(--lg);
    font-weight: bold

}

.first-menu ul li a,
.second-menu ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: var(--md);
}

.second-menu{
    margin-top: 60px;
}

.footer{
    margin-top: 80px;
}

.footer p{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 3px;
}

.footer a{
    color: var(--hospital-green);
    text-decoration: none;
}



/*fin de menu movil inicio de carrito de feComponentTransfer*/
/*inicio de carrito*/

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    height:50px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

.product-detail{
    background-color: var(--white);
    position: absolute;
    top: 61px;
    margin: 0 24px;
    width: 360px;
    margin: 0;
    position: absolute;
    right: 0;
    padding: 0 24px;
    box-sizing: border-box;
  
}

.my-order-content{
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

.my-order-container{
    display: grid;
    grid-template-rows:auto 1fr auto;
    width: 300px;
}


.shopping-cart figure {
    margin: 0%;
}

.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 28px;
    object-fit: cover;
    
}
.shopping-cart p:nth-child(2){
color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3){
font-size: var(--md);
font-weight: bold;
}


.shopping-cart {
    display: grid;
    grid-template-columns:auto 1fr auto auto ;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart div img:hover {
   cursor: pointer; 
   height: 20px;   
}





.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: rgba(134, 132, 132 ,0.2);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1){
display: flex;
flex-direction: column;
}

.order p span:nth-child(1){
font-size: var(--md);
font-weight: bold;

}

.order p span:nth-child(2){
font-size: var(--sm);
color: var(--very-light-pink);

}

.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
    }

    
.title-container{
    display: flex;

}

.title-container img{
    transform: rotate(180deg);
    margin-right: 14px;
    
}
@media (max-width:750px) {
    .product-detail{
        width: 100%;
    }
    
} 



/*fin de menu movil*/
/*inicio de home*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin: 20px 50px;
   
}

.product-card{
    width: 240px;
    
}

.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.product-info figure {
    margin: 0%;
}

.product-card figure img{
    width: 35px;
    height: 35px;
}

.product-info div p:nth-child(1){
font-weight: bold;
font-size: var(--md);
margin-top: 0;
margin-bottom: 4px;
}

.product-info div p:nth-child(2){
font-size: var(--sm);
margin-top: 0;
margin-bottom: 0;
color: var(--very-light-pink);
}


@media (max-width: 640px) {
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product-card{
        width: 140px;

    }
    .product-card img{
        width: 140px;
        height: 140px;
    }

    
}
