:root{
    --white: #FFFFFF;
    --black:#000000;
    --very-light-pink: #C7C7C7;
    --hospital-green: #acd9b2;
    --fondo-amarillo:  rgba(203, 207, 160, 0.4);
    --sm: 14px;
    --md:16px;
    --lg:18px;
}

.menu-container{
    width: 100px;
    height: auto;

}

.first-menu{
 margin-bottom: 20px;   
}
.first-menu ul,
.second-menu ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.first-menu ul li,
.second-menu ul li{
    margin-left: 10px;
    height: 50px;
    width: 80px;
   
}
.title{
    color: var(--black);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: var(--md);

}

.first-menu ul li a,
.second-menu ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: var(--md);
}

.second-menu{
    margin-top: 60px;
}

.footer{
    margin-top: 80px;
}

.footer p{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 3px;
}

.footer a{
    color: var(--hospital-green);
    text-decoration: none;
}