:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --hospital-green: #acd9b2;
    --fondo-amarillo: rgba(235, 240, 176, 0.4);
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0;
    
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    height:50px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail{
    margin: 0 24px;
    width: 360px;
    margin: 0;
    position: absolute;
    right: 0;
   
}

.product-detail-close{
    background-color: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    left: 35px;
    z-index: 2; 
    padding: 12px;
    border-radius: 50%;

}

.product-detail-close img{
    position: absolute;
   
}
.product-detail-close:hover{
    cursor: pointer;
}


.product-detail>img:nth-child(2){
    width:100%;
    height:360px;
    height: px;
   object-fit: cover;
   border-radius: 0 0 20px 20px;
}



.product-detail p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 0%;
    margin-top: 4px;
}

.product-detail p:nth-child(2){
    color: var(--very-light-pink);
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 10%;
}
.product-detail p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 10%;
}

@media (max-width:640px) {
    .product-detail{
        width: 100%;
    }
    
}