:root{
    --white: #FFFFFF;
    --black:#000000;
    --very-light-pink: #C7C7C7;
    --hospital-green: #acd9b2;
    --fondo-amarillo:  rgba(203, 207, 160, 0.4);
    --sm: 14px;
    --md:16px;
    --lg:18px;
}


body{
     margin: 0;
    font-family: 'Quicksand', sans-serif; 
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto ;
    width: 300px;

}

.logo{
    width: 150px;
    margin-bottom: 40px ;
    justify-self: center;
    display: none;
}


.label{
    font-size: var(--sm);
    font-weight: bolder;
    margin-bottom: 4px;
}

.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.form{
    display: flex;
    flex-direction: column;
}
.form a{
    color: var(--hospital-green);
font-size: var(--sm);
text-decoration: none;
text-align: center;
margin-bottom: 52px;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    height:50px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    height:50px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}


.primary-button signup-button{

}
@media (max-width: 640px) {
    .logo{
        display: block;
    }

    .secondary-button{
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
        
    }
    
}